hr {
  margin-top: 0px;
  border: 2px solid #fdc435;
  width: 5vw;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  font-family: nunito;
  background-color: aliceblue;
}

.p-h1 {
  margin-bottom: 5px;
  width: 10vw;
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
}

.p-items {
  display: flex;
  flex-direction: column;
}

.icons {
  width: 10vw;
  font-size: 30px;
  justify-content: space-between;
}
.m {
  font-size: 45px;
}
.icon {
  margin-left: 10px;
  margin-right: 10px;
}
.line {
  display: flex;
  align-items: center;
}
.f-img {
  width: 100%;
}

@media (max-width: 576px) {
  .projects {
    padding: 10px;
    align-items: center;
  }
  hr {
    width: 25vw;
  }
}
